
/* Game Container*/

#gameContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:baseline;
}

/* start game button */

.btnStartGame{
    margin-top: 50px;
}

/* Game Board */

.gameBoardContainer{
    display: grid;
    height: 17.5vw;
    width: 17.5vw;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}

/* Game Board Tile */

.gameBoardTile{
    border: 1px solid grey;
}

#computerGameBoard .gameBoardTile:hover{
    cursor: pointer;
}

#humanGameBoard .hasShip{
    background-color: blue;
    border: 1px solid black;
}

#computerGameBoard .hasShip{
    background-color: green;
    border: 1px solid black;
}

.shipHit{
    background-color: red;
    border: 1px solid black;
}

.miss {
    background-color: grey;
}

/* Ship */ 

.shipContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.ship{
    display: flex;
    flex-direction: column;
    width: 1.75vw;
}

.shipUnit{
    border: 1px solid black;
    background-color: blue;
    height: 1.75vw;
}
