
*{
    box-sizing: border-box;
}

:root{
    --bgColor: #a1baf8;
    --btnHover: #c0cef1;
}

html, body, #root, #appContainer{
    height: 100%;
    width: 100%;
    background-color: var(--bgColor);
    font-family: 'Oswald', sans-serif;
}

/* Header */

#header{
    margin-top: 1vw;
}

#headerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerTitle{
    font-size: 35px;
    text-decoration: underline;
}

#headerContainer span{
    font-size: 35px;
    margin-right: 10px;
}

/* Game Container*/

#gameContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:baseline;
    margin: 0 10vw;
}

/* game status container */

#gameStatusContainer{
    text-align: center;
    margin-top: 75px;
}

.btnStartGame{
    margin-top: 75px;
    padding: 10px;
    font-size: 25px;
    border: none;
    background-color: var(--bgColor);
}

.btnStartGame:hover{
    cursor: pointer;
    background-color: var(--btnHover);
}

#statusMessage, #gameWinMessage{
    font-size: 25px;
}

#statusMessage{
    border-bottom: 1px solid black;
}


/* Game Board */

.gameBoardContainer{
    display: grid;
    height: 17.5vw;
    width: 17.5vw;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}

.gameBoardTitle{
    text-align:center;
    font-size: 25px;
    margin-bottom: 10px;
}

/* Game Board Tile */

.gameBoardTile{
    border: 1px solid black;
}

#computerGameBoard .gameBoardTile:hover{
    cursor: pointer;
}

#humanGameBoard .hasShip{
    background-color: blue;
    border: 1px solid black;
}

#computerGameBoard .hasShip{
    /* background-color: green;
    border: 1px solid black; */
}

.shipHit{
    background-color: red;
    border: 1px solid black;
}

.miss {
    background-color: grey;
    border: 1px solid black;
}

/* Ship */ 

.shipContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
}

.ship{
    display: flex;
    flex-direction: column;
    width: 1.75vw;
}

.shipUnit{
    border: 1px solid black;
    background-color: blue;
    height: 1.75vw;
}

.sunk{
    opacity: 0.5;
}